.main{
    display:block;
    text-align: -webkit-center;
    height:450px;

}
.google{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:272px;
    height:92px;
}
.image{
    padding-top: 109px;
}   
.img{
  height:233px;
  margin-top: 89px;
}
.imagetext{
  position: relative;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 120px;
    top: -20px;
    height: 20px;
    width: 272px;  
}

.form{
   height:38px;
   width: 584px;
   font-size: 18px;
   display:inline;
   
}
.micro{
   height:38px;
   width:41px;
   position: absolute;
   display:inline;
   margin-left: -45px;
   margin-top: 5px;
}
.b{  
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    
}
#footer{
       bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
#footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    width: 100%;
    }
.left{
    margin-left:30px;
    color: #666; 
    float: left;
    font-size:14px;
word-spacing: 30px;
}

.right{
    margin-right:30px;
    color: #666;
    float: right;
    font-size: small;
    word-spacing: 30px;
font-size:14px;
}
#header{    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 12px;
     
 }
.s{
  margin-right:20px;}

